h2{
    border-bottom: 1px solid #40d6b0;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

#logo, #logoSiteFooter{
    width: 150px;
}

header{
    border-bottom: 2px solid #9f7452;
}

header, footer{
    background-color: #dedede;
}

header nav ul{
    list-style-type: none;
    padding-left: 0;
}

header nav ul ul{
    display: none;
}

header nav > ul > li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    background-color: #73380A;
    color: #40d6b0;
}

header nav > ul > li:focus > ul, header nav > ul > li:hover > ul{
    display : block;
}

header nav > ul > li:hover > a:after{
    content: 'â·';
}

header nav > ul > li > a{
    color: #73380A;
    background-color: #40d6b0;
    border-radius: 7px;
}

body{
    border-top: 5px solid red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #303030;
}

main .container{
    padding: 20px;
}

main .products img{
    max-width: 100%;
}

main .products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .products article{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid black;
}

.bandeau{
    text-align: center;
    font-weight: bold;
    padding: 50px 0;
    border-top: 1px solid ;
    background-color: #9f7452;
    font-size: 3rem;
}

footer{
    border-top: 2px solid #9f7452;
}

footer ul{
    list-style-type: none;
}

footer ul li{
    margin: 10px 0;
}

footer ul li a{
    text-decoration: none;
    color: #303030;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

footer div{
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 500px){

    body{
        border-top: 5px solid orange;
    }
    
}

@media (min-width: 768px){

    body{
        border-top: 5px solid yellow;
    }

    .container{
        width: 768px;
        margin: auto;
    }

    main .products article{
        width: 50%;
    }
     
}

@media (min-width: 992px){

    header nav ul ul{
        position: absolute;
    }

    header nav ul ul a{
        border-bottom: 1px solid #fff;
    }
    
    header nav > ul li{
        position: relative;
    }

    header nav > ul > li{
        display: inline-block;
    }

    header nav > ul > li > a{
        display: inline-block;
        padding: 25px;
    }

    body{
        border-top: 5px solid green;
    }

    .container-with-sticky{
        display: flex;
        background-color: #40d6b0;
    }

    .container-with-sticky > div.sticky{
        box-sizing: border-box;
        width: 25%;
    }

    .container-with-sticky > div.sticky > div{
        position: sticky;
        top: 30px;
        margin-bottom: 30px;
    }

    .container-with-sticky > div:not(.sticky){
        box-sizing: border-box;
        width: 75%;
    }

    .container{
        width: 992px;
    }

    main .products article{
        width: 33%;
    }
    
    footer div{
        box-sizing: border-box;
        width: 33%;
    }
     
}

@media (min-width: 1199px){

    body{
        border-top: 5px solid blue;
    }

    .container{
        width: 1199px;
    }
    
}

@media (min-width: 1400px){
    
    body{
        border-top: 5px solid purple;
    }
    
}